# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Models (Keep .pt if they are small, but ignore optimized engines)
*.engine
*.torchscript
*_ncnn_model/

# Intermediate results
pipeline/
assets/videos/tensorrt_output_roomfire41.mp4
assets/videos/output_roomfire41.mp4

# OS
.DS_Store
Thumbs.db
